.places {
  display: grid;
  max-width: 984px;
  margin: 0;
  padding-top: 92px;
  padding-left: calc(148/1280*100%);
  padding-right: calc(148/1280*100%);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 80px;
}

@media screen and (max-width: 1025px) {
  .places {
    padding-left: calc(48/1024*100%);
    padding-right: calc(48/1024*100%);
  }
}

@media screen and (max-width: 769px) {
  .places {
    padding-top: 88px;
    padding-left: calc(24/768*100%);
    padding-right: calc(24/768*100%);
    gap: 73px;
  }
}




@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    padding-top: 64px;
    padding-left: 0;
    padding-right: 0;
    gap: 50px;
  }
}
