.place__url-link {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  transition: opacity 0.2s linear;
}

.place__url-link:hover {

  opacity: 0.8;
}
