.place__url-link{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: opacity 0.2s linear;
}

.place__url-link:hover{
  text-decoration-line: underline;
  opacity: 0.8;
}
