.place__text{
  max-width: 100%;
  min-width: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 769px) {
  .place__text {
    font-size: 16px;
    line-height: 1.63;

  }

}
